.profile-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.profile-status{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D1FAE5;
    border-radius: 8px;
    height: 24px;
    width: 91px;
    left: 352px;
    top: 8px;
    border-radius: 12px;
    padding: 2px, 12px, 2px, 8px;
}
.section-process{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    flex:1;
}
.selection-profile{
    width: 450px;
}
.selection-message{
    width:500px;
}
.name{
    color:#111827;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.email{
    color:#6B7280;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}
.success{
    color:#065F46;
    font-size:14px;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.icon{
    background-color: #111827;
    border-radius: 5px;
    padding:5px;
    margin-top: 25px;
}
.heading{
    font-size:30px;
    font-weight: 800px;
    color:#111827;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.heading-content{
        color: #6B7280;
        font-size:18px;
        font-weight: 400;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.message{
    display: flex;
    align-items: flex-start;
}
.notification{
    color: #6B7280;
    font-size:16px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.notify-head{
    color:#111827;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:18px;
    font-weight: 500;
}
.message-content{
    margin-left: 20px;
}

@media screen and (max-width:768px){
    .section-process{
        display: flex;
        flex-direction: column;
    }
    .selection-message{
        order: 1;
        width: 300px;
    }
    .selection-profile{
        order:2;
        width: 300px;
    }
}